<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Modules</key>
	<dict>
		<key>cache-cleanup</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>MaxAgeDays</key>
			<integer>7</integer>
		</dict>
		<key>tmp-cleanup</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>MaxAgeDays</key>
			<integer>3</integer>
		</dict>
		<key>log-cleanup</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>MaxAgeDays</key>
			<integer>7</integer>
		</dict>
		<key>zombie-killer</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>orphan-killer</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>MinRunningHours</key>
			<integer>24</integer>
		</dict>
		<key>orphan-app-cleanup</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>brew-cleanup</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>dev-cleanup</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>docker-cleanup</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
	</dict>
	<key>TrashRetentionHours</key>
	<integer>72</integer>
	<key>MaxSingleFileBytes</key>
	<integer>2147483648</integer>
	<key>MaxBatchBytes</key>
	<integer>10737418240</integer>
	<key>DryRun</key>
	<false/>
	<key>LogLevel</key>
	<string>INFO</string>
	<key>DiskSpaceCriticalPercent</key>
	<integer>95</integer>
</dict>
</plist>
