<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.mac-ops.monitor</string>
	<key>ProgramArguments</key>
	<array>
		<string>REPLACEME_MAC_OPS_BIN</string>
		<string>monitor</string>
		<string>collect</string>
	</array>
	<key>StartInterval</key>
	<integer>300</integer>
	<key>LowPriorityIO</key>
	<true/>
	<key>Nice</key>
	<integer>10</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>StandardOutPath</key>
	<string>REPLACEME_MAC_OPS_HOME/.logs/monitor-stdout.log</string>
	<key>StandardErrorPath</key>
	<string>REPLACEME_MAC_OPS_HOME/.logs/monitor-stderr.log</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
	</dict>
</dict>
</plist>
